@media screen and (max-width: 960px) {
  /*--------------------
    共通
  --------------------*/
  #main {
    margin: 0;
  }
  .container {
    padding: 60px 20px;
  }
  .main-title {
    justify-content: center;
    margin: auto;
    z-index: 15;
  }
  .section-title {
    padding-top: 0;
  }
  .sub-title {
    margin-bottom: 30px;
    font-size: 1.25rem;
  }

  /*--------------------
    header
  --------------------*/
  #header {
    z-index: 10;
    width: 100%;
    height: 60px;
    padding: 0;
  }

  #header .container {
    padding: 10px 20px;
  }
  .header .main-title a {
    display: none;
  }
  .pc-menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(223, 182, 84, 0.5);
  }
  .pc-menu li a {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.3em;
    color: #121e2e;
  }

  .pc-menu li a {
    color: #121e2e;
  }
  .pc-menu li a:hover {
    color: #121e2e;
  }

  .pc-menu li a::after {
    transform: scale(0.2, 0.8);
    background: #121e2e;
  }

  .header .pc-menu {
    opacity: 1;
    visibility: visible;
    z-index: 11;
  }

  /* ボタンの作成 */
  /* .menu-trigger {
    position: fixed;
    right: 30px;
    top: 15px;
    z-index: 12;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
  }

  .menu-trigger span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: #121e2e;
    transition: 0.5s;
  }
  /* 位置調整 */
  /* #header .menu-trigger span:nth-child(1) {
    top: 4px;
  }
  #header .menu-trigger span:nth-child(2) {
    top: 14px;
  }
  #header .menu-trigger span:nth-child(3) {
    bottom: 4px;
  } */
  /* ボタンクリック時のアクション */
  /* .header .menu-trigger span {
    background-color: #121e2e;
  }
  .header .menu-trigger span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .header .menu-trigger span:nth-child(2) {
    opacity: 0;
  }
  .header .menu-trigger span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  #mask {
    display: none;
    transition: 0.5s;
  }
  .header #mask {
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
  }  */

  #scrollGo {
    bottom: 20%;
    padding-bottom: 40px;
  }

  #scrollGo::after {
    height: 30px;
  }

  /*--------------------
    about
  --------------------*/
  .about-right {
    padding: 10px;
  }
  /*--------------------
    profile
  --------------------*/
  /* #main-about {
    margin: 0;
  } */
  #main-about .container {
    padding: 85px 20px 30px;
  }
  #profile .container {
    margin-top: 55px;
  }
  .profileAll {
    display: block;
  }
  #profile-pic {
    height: auto;
  }
  .myname {
    margin-top: 20px;
  }
  .profile-left {
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: 0;
  }
  .profile-right {
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
  }
  .skills-message {
    padding: 10px 60px;
    margin-bottom: 60px;
    width: 90%;
  }

  .flex {
    width: 90%;
  }

  .flex li {
    padding: 2vh;
    width: 50%;
  }

  .area1-flex {
    margin: 60px auto 0;
  }

  .area1-flex .area1-flex-img {
    padding: 0 30px;
  }

  .area1-flex .area1-flex-box1 {
    bottom: -400px;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0 0 5rem 0;
  }

  .area1-flex .area1-flex-box1 .area1-flex-box-ttl {
    font-size: 3vw;
  }

  .area1-flex-box2 {
    width: 90%;
    /* margin: 650px auto 0; */
    padding: 3rem;
  }

  .area1-flex-box2::before {
    top: 25px;
    left: -25px;
    width: 100px;
  }

  .area1-flex-box2::after {
    bottom: 25px;
    right: -25px;
    width: 100px;
  }
  .area1-flex-box_ruby {
    color: #22304f;
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .area1-flex-box_name {
    color: #22304f;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    margin: 0.8vh 0 2vh;
  }

  .area1-flex-box2 .area1-flex-box-ttl {
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    text-align: left;
  }

  @media screen and (max-width: 768px) {
    .favorite .favorite-flex {
      flex-direction: column;
      width: 90%;
      margin: 60px auto 0;
    }

    .favorite .favorite-flex .favorite-flex-box {
      position: relative;
      width: 100%;
      text-align: center;
    }

    .favorite .favorite-flex .favorite-flex-box:nth-of-type(3) {
      padding: 6vh 0 2vh;
    }
  }

  /*--------------------
    works
  --------------------*/
  .worksWrapper,
  .contentsWrapper {
    padding-bottom: 10px;
  }
  .contentsGroup li {
    width: 50%;
  }
  .modal__content {
    width: 90%;
    height: 90%;
  }

  /*** works ***/
  #main-contents {
    margin-top: 60px;
  }

  .productTop {
    margin: 10px auto;
    width: 90%;
  }

  .productList {
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: initial;
  }
  .productList dt {
    width: 20%;
    padding: 15px;
  }
  .productList dd {
    width: 80%;
    padding: 15px;
  }

  .product_ttl {
    width: 90%;
  }

  .product_charge {
    display: none;
  }

  .product_info {
    width: 90%;
  }

  @media screen and (max-width: 768px) {
    .product_ruby {
      font-size: 2.4vw;
    }

    .product_name {
      font-size: 5vw;
      letter-spacing: 0.05em;
    }

    .product_info_ttl {
      font-size: 5vw;
      line-height: 1.5em;
    }

    .product_info_txt {
      font-size: 2.9vw;
      letter-spacing: 0.1em;
    }

    .product_link_jump {
      font-size: 2.9vw;
    }

    .product_link_jump_link {
      font-size: 2.9vw;
    }

    .information_content_position {
      text-align: left;
    }

    .product_days {
      font-size: 2.9vw;
    }
  }

  #main-index .container {
    padding: 85px 20px 60px;
  }

  /*--------------------
    footer
  --------------------*/
  .bottomNav ul.snsLink li:nth-of-type(1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  /*--------------------
    共通
  --------------------*/
  #main {
    margin: 0;
  }
  .container {
    padding: 60px 20px;
  }
  .section-title {
    padding-top: 0;
  }
  .sub-title {
    margin-bottom: 30px;
    font-size: 1rem;
  }
  #main-index .container {
    padding: 85px 20px 30px;
  }

  #header {
    height: 55px;
  }

  #header .container {
    padding: 10px 20px;
  }
  #header h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .pc-menu li a {
    font-size: 1.2rem;
  }

  .top-visual img {
    margin-top: 55px;
  }

  /*--------------------
    about
  --------------------*/
  .aboutAll {
    margin-top: 60px;
  }
  .about-right {
    padding: 10px;
  }
  .more-view {
    position: initial;
    margin-top: 60px;
  }

  /*--------------------
    works
  --------------------*/
  .worksWrapper,
  .contentsWrapper {
    margin-top: 60px;
    padding-bottom: 10px;
  }
  .contentsGroup {
    text-align: center;
  }
  .contentsGroup li span {
    font-size: 0.7rem;
  }
  .workGroup {
    flex-direction: column;
  }
  .worksGroup li {
    width: 100%;
  }
  .workGroup li:not(:first-child) {
    margin-top: 60px;
  }
  .contentsGroup .contents-title {
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .contentsGroup .contents-title::before {
    display: none;
  }

  /*--------------------
    profile
  --------------------*/
  .profileAll {
    margin-top: 60px;
    padding: 10px;
  }
  .profile-left {
    padding: 0;
  }
  .profile-right {
    margin-top: 2vh;
    padding: 10px;
  }

  .profile-right_name_ruby {
    font-size: 0.8rem;
  }

  .japanese {
    font-size: 0.8rem;
  }
  .skills-message {
    width: 100%;
    padding: 15px;
    margin: 60px auto 30px;
  }

  .flex {
    width: 100%;
    margin: 60px 0 0;
  }

  .flex li img {
    width: auto;
    height: 10vh;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 2vh;
  }

  .flex li p {
    font-size: 1.1rem;
  }

  .flex li span {
    display: none;
  }

  /*--------------------
    product
  --------------------*/
  #product .section-title {
    font-size: 1.5rem;
  }
  .productTop {
    margin: 10px auto;
    width: 90%;
  }
  .productList {
    padding: 10px;
    margin: 0 10px;
  }
  .productList dt {
    width: 100%;
    border-bottom: none;
    padding: 5px 15px;
  }
  .productList dd {
    width: 100%;
    padding: 0 15px 15px 15px;
  }

  .modal__content {
    width: 90%;
    height: 90%;
  }

  .product_ttl {
    margin: 40px auto 10px;
    padding: 10px;
  }

  .product_info {
    margin: 10px auto;
    padding: 10px;
    border-bottom: 1px solid #1f1f1f;
  }

  .product_position {
    font-size: 0.6rem;
  }
  /*--------------------
    contact
  --------------------*/
  .contactTop p {
    font-size: 0.8rem;
  }
  .contactAll {
    margin-top: 60px;
  }
  /*--------------------
    footer
  --------------------*/
  #footer {
    padding-bottom: 20px;
  }
}
