@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #121212;
  background: #ecece7;
  font-family: "Noto Sans JP", sans-serif;
}
a {
  color: #121212;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

/*--------------------
  共通
--------------------*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 70px 20px;
}
#main-about,
#main-works,
#main-contact,
#main-work {
  margin-top: 100px;
}
.section-title {
  font-size: 3rem;
  text-align: center;
  padding-top: 90px;
}
.sub-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

/*--------------------
  header
--------------------*/
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
}

#header h1 a {
  color: #121212;
}

#header h1 {
  font-size: 1.75rem;
  white-space: nowrap;
  letter-spacing: 0.5px;
}

#header.UpMove {
  position: fixed;
  width: 100%;
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

#header.DownMove {
  position: fixed;
  width: 100%;
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

#header .container {
  padding: 20px 20px 0 20px;
}

.bg-color {
  background: transparent;
}

.pc-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.pc-menu li {
  font-size: 1rem;
  margin: 0 10px;
  letter-spacing: 1.5px;
}
.pc-menu li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #121212;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.pc-menu li a {
  color: #121212;
  position: relative;
  text-decoration: none;
  display: block;
  padding: 20px 15px;
  transition: all 0.3s;
}
.pc-menu li a:hover:after {
  transform: scale(0.5, 1);
}

.pc-menu li i {
  margin-right: 5px;
}

/*--------------------
main
--------------------*/

/*--------------------
  about
--------------------*/
#about h2 {
  color: #121212;
  margin-bottom: 0;
}
.about-right {
  padding-top: 10px;
}
#about-right p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 0.8rem;
}
.birthday {
  margin-bottom: 10px;
}
.aboutAll {
  margin-top: 90px;
  text-align: center;
}
#about-pic {
  width: 400px;
  height: 100%;
}
.about-right p:nth-of-type(4) {
  margin-top: 20px;
}
.more-view {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 60px;
  bottom: 20px;
  right: 100px;
  border: 1px solid rgba(105, 105, 105, 0.8);
}
.more-view:hover {
  border: solid 1px #696969;
  background-color: rgba(105, 105, 105, 0.8);
  color: #fff;
  transition: 0.3s;
}

#scrollGo {
  display: inline-block;
  position: absolute;
  color: #121212;
  z-index: 2;
  padding: 10px 10px 100px;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1;
  writing-mode: vertical-lr;
  bottom: 40%;
  right: 1%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#scrollGo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 1px;
  height: 75px;
  background: #121212;
  animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl {
  70%,
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
  35.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  35% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
}
.close_go {
  opacity: 0;
}
/*--------------------
  works
--------------------*/

#works .container {
  padding-bottom: 0;
}

#works h2 {
  color: #121212;
}
#works img {
  height: auto;
  vertical-align: bottom;
}

.worksWrapper {
  text-align: center;
  margin-top: 90px;
}

.worksGroup {
  display: flex;
  flex-wrap: wrap;
  text-align: initial;
  border-bottom: 1px solid #1f1f1f;
}

.works-title {
  position: relative;
  margin: 20px 0 5px 30px;
}

.works-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 3px;
  height: 25px;
  background: #121212;
}

.worksGroup span {
  padding: 0 0 0 30px;
  font-size: 0.9rem;
  color: #9e9e9f;
}

.worksGroup li {
  padding: 0 15px;
  width: 50%;
  margin-bottom: 50px;
}

/*--------------------
footer
--------------------*/
#footer {
  text-align: center;
  padding: 20px;
  color: #fff;
  background: #121e2e;
}

.copyright {
  margin: auto;
  font-size: 0.2vw;
}

/*------------------------------
about.html
------------------------------*/
/*--------------------
  profile
--------------------*/
#profile h2 {
  color: #121212;
}
.profileAll {
  display: flex;
  padding: 10px 30px;
  margin-top: 90px;
}
#profile-pic {
  width: 100%;
  box-shadow: 0 0 10px #c7c7c7;
}

.profile-left {
  position: relative;
  padding: 10px;
  margin-right: 30px;
}
.profile-right {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  max-width: 446px;
  width: 100%;
  flex-basis: 34.6%;
  padding: 6.7rem 5.8rem 1.7rem;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  -moz-backdrop-filter: blur(12px);
}

.profile-right_name_ruby {
  font-size: 0.8rem;
}

.profile-right h3 {
  font-size: 2rem;
  margin-bottom: 2vh;
}
.japanese {
  font-size: 1rem;
  padding: 5px 0;
}

#skills h2 {
  color: #121212;
}
.skills-message {
  font-size: 0.9rem;
  text-align: center;
  margin: 90px auto;
  padding: 10px 80px;
  width: 80%;
}
.skills-introduction {
  display: flex;
  padding: 10px 30px;
  margin-bottom: 60px;
}
.skills-introduction ul {
  display: flex;
  flex-wrap: nowrap;
}
.skills-introduction ul li {
  width: 100%;
  margin: 0 10px;
  box-shadow: 5px 0 10px #ccc;
}
.skills-introduction ul li h4 {
  margin: 10px 0;
}
.skills-introduction ul li p {
  font-size: 0.9rem;
}
.skills-area {
  background-color: #fff;
  padding: 20px;
  height: 250px;
}
.skills-list {
  display: flex;
  padding: 10px 30px;
}
#skills dl {
  display: flex;
  flex-wrap: wrap;
}
#skills dl dt {
  width: 35%;
  padding: 5px 10px;
}
#skills dl dd {
  width: 65%;
  padding: 5px 10px;
}
.black {
  color: #333333;
}
.grey {
  color: #cccccc;
}

/*--------------------
  product
--------------------*/
#product .container {
  text-align: center;
}
#product h2 {
  color: #121212;
}
.productTop {
  position: relative;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}
.productTop img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.productList {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: initial;
  width: auto;
}
.productList i {
  margin-left: 10px;
}
.productList dt {
  width: 30%;
  padding: 15px;
  padding-left: 15%;
  font-size: 0.8rem;
}
.productList dd {
  width: 70%;
  padding: 15px;
  font-size: 0.8rem;
}

/*--------------------
  垂れ幕
--------------------*/
.bgDU {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

#works img,
#works img {
  height: auto;
  vertical-align: bottom;
}

/*--------------------
  modal
--------------------*/
.content {
  margin: 0 auto;
  padding: 40px;
}
.modal {
  display: none;
  height: 100vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.modal__bg {
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.modal__content {
  display: flex;
  flex-direction: column;
  background: #fff;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  z-index: 11;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modalClose {
  position: absolute;
  top: -10px;
  left: -8px;
}
.modalClose:hover {
  cursor: pointer;
}
